@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=MonteCarlo&family=Montserrat:wght@400;500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    box-shadow: 0px 2px 3px 2px gray;
    margin-bottom: 50px;
}
img{
    height: 150px;
    width: 400px;
    border-radius: 50px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
span{
    color: #679436;
}
.nav-item a{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}
.nav-item a:hover{
    color: #679436;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #679436;
}
/* about */
.alert{
    background-color: #679436;
    color: white;
    width: 60%;
    margin: auto;
}
.alert1{
    background-color: tomato;
    border-radius: 5px;
    color: white;
    width: 60%;
    margin: auto;
    height: 40px;
    padding-top: 10px;
}
.text{
    width: 60%;
    margin: auto;
}
.form-section{
    width: 60%;
    margin: auto;
}
.btn{
    background-color: #679436;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
footer{
    background-color: black;
    color: white;
    height: 70px;
}
.about_section{
    background-color: #C9D2D9;
}